<div class="footer">
  <div class="footer-box">
    <div class="footer-logo">
      <%= link_to root_path do %>
        <%= image_tag "favicon.png" %>
      <% end %>
    </div>
    <div class="footer-admin">
      <p><%= link_to "ADMIN?", admin_path, class: "footer-admin-p" %></p>
    </div>
  </div>

  <div class="footer-copyright">
    <p>&copy; 2018 Nittygritty</p>
  </div>
</div>
