<div class="navbar">
  <!-- Logo -->
  <div class="navbar-left">
    <div class="navbar-logo">
      <%= link_to root_path do %>
        <%= image_tag "favicon.png" %>
      <% end %>
    </div>
    <div class="navbar-brand">
      <p>nittygritty</p>
    </div>
  </div>

  <!-- Add a new team -->
    <div class='navbar-add'>
      <%= link_to "SEE RESULTS", votes_path, class: 'navbar-link' %>
    </div>
  </div>
</div>
