<div class="container">
  <table>
    <thead>
      <tr>
        <td>Number</td>
        <td>Name</td>
      </tr>
    </thead>
    <tbody>
      <% @voted_staffs.each do |staff| %>
        <tr>
          <td><%= staff.id %></td>
          <td><%= staff.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<br>
<%= link_to "ADMIN PAGE", admin_path, class: 'btn btn-info' %>
</div>
