<div class="container">
  <h1>This is vote result page</h1>

  <p id="notice"><%= notice %></p>
  <% voted_array = [] %>
  <% array = [] %>
    <% @votes.each do |vote| %>
      <% array << vote.voted_staff.name %>
    <% end %>
  <%= voted_array << array %>
</div>
