<div class="container">
  <h1>This is vote result page</h1>

  <p id="notice"><%= notice %></p>

  <% arr = [] %>
  <% array = [] %>
    <% @votes.each do |vote| %>
      <% array << vote.voted_staff.name %>
    <% end %>
  <% arr << array %>
  <% voted_array = arr[0][0..-1].each { |x| print x } %>

  <% counts = Hash.new 0 %>
  <% voted_array.each do |a| %>
    <% counts[a] += 1 %>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <% counts.each do |k, v| %>
        <tr>
          <td><%= k %></td>
          <td><%= v %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
