<div class="container">
  <h1>This is vote result page</h1>

  <p id="notice"><%= notice %></p>

    <% @votes.each do |vote| %>
      <% voted_array = [] %>
      <%= voted_array << vote.voted_staff.name %>
    <% end %>
</div>
